/Devoo.ExtensionMethods/bin
/Devoo.ExtensionMethods/obj
/Devoo.ExtensionMethods/packages
/Devoo.ExtensionMethods/.vs
/Devoo.ExtensionMethods.Tests/bin
/Devoo.ExtensionMethods.Tests/obj
/Devoo.ExtensionMethods.Tests/*.user
/Devoo.ExtensionMethods/*.user
